body{
    margin: 0;
}
#container{
    height: 100%;
    width: 100%;
    background-color: rgb(28, 129, 129);
    box-sizing: border-box;
    padding: 40px 30px 40px 30px;

}
.card1{
    height: 50%;
    width: auto;
    background-color: rgb(245, 252, 250);;

    
}
