nav ul{
    background-color: aqua;
    text-align: center;
    list-style: none;

}
nav ul > li{
    display: inline-block;
    margin: 10px;
}
a:hover{
    color: rgb(238, 9, 9);
}
h2{
    color: chocolate;
}
